<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2 style="text-align:center">Here are some links to help you start: </h2>

<ul style="text-align:center">
  <div class="dropdown">
    <button class="dropbtn">{{selectedCar}}</button>
    <div class="dropdown-content">
      <a (click)="ford()">Ford</a>
      <a (click)="acura()">Acura</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">models</button>
    <div class="dropdown-content">
      <a *ngFor="let modelname of vehicalModels">{{modelname}}</a>
    </div>
  </div>
</ul>
 -->








 <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2 style="text-align:center">Here are some links to help you start: </h2>

<ul style="text-align:center">
  <div class="dropdown">
    <button class="dropbtn">{{selectedCar ? selectedCar : 'Select A Car'}}</button>
    <div class="dropdown-content">
      <a *ngFor="let carObj of carArray" (click)="getModel(carObj._id, carObj.car)">{{carObj.car}}</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn" disabled="{{carModels ? null : 'true'}}">Models</button>
    <div class="dropdown-content">
      <a *ngFor="let model of carModels">{{model}}</a>
    </div>
  </div>
</ul>

